body{
  background-color: #FCF6BF;
  height: auto;
}
.LoginWrapper,.RegCom{
  display: flex;
  margin: 25vh auto ;
  overflow: hidden;
}
.RegCom{
  margin: 13vh auto;
}
.FormView, .guestWrapper{
  margin: auto;
  text-align: center;
}
.FormView h1 ,.FormView h3{
  text-transform: uppercase;
}
.formGroup {
  display: grid;
  color: #101327;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px auto;
}
.formGroup label {
  margin: 10px 0px;
  color: #7F61E6;
}
.formGroup input, .formGroup button{
  width: 85%;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  height: 47px;
  text-indent: 20px;
  color: #000000;
  font-size: 15pt;
  margin: auto;
  position: relative;
}
.formGroup button {
  color: #7F61E6;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15pt;
  background-color: #fff;
  cursor: pointer;
  text-indent: 0;
}
.formGroup button:hover{
  background-color: #fff;
  border: 3px solid #7F61E6;
  color: #101327;
  transition: all 0.3s ease-in-out;
}
.MainBook .formGroup button{
  width: 500px;
}
.formGroup input:focus{
  outline: none;
}
.formGroup textarea {
  width: 500px;
  height: 90px;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  resize: none;
  text-indent: 20px;
}
.formGroup textarea:focus {
  outline: none;
}

.logicLink { 
  text-decoration: none;
  color: #101327;
  font-weight: bold;
  font-size: 12pt;
  text-transform: uppercase;
  margin: auto;
}
.logicLink:hover{
  text-decoration: underline;
}
.guestWrapper{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.msgItem button, .msgItem textarea{
  width: 90% !important;
}
.msgBody{
  background-color: #fff;
  width: 90%;
  border: 3px solid transparent;
  border-radius: 25px;
  padding: 10px;
  margin: auto;
}
.msgItem{
  background-color: #7F61E6;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 25px;
  width: 24%;
  padding: 20px;
  display: block;
  position: relative;
  margin: 2%;
}
.MainBook p{
  margin: 0;
  margin-bottom: 5px;
}
.MainBook h3 ,.MainBook label{
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  
}
.fa{
  color:#7F61E6 ;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
.fa:hover{
  color: #39296dc2;
}
.trash:hover{
  color: red;
}